#root {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

body {
  font-family: "Geologica", sans-serif;
  background-color: #535bf2;
  z-index: 0;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

@media (max-width: 550px) {
  #root {
    flex-direction: column;
  }
}
