#projects {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 3px 0px 10px rgb(0 0 0 / 1);
}

#projects-area {
  padding: 3rem;
  /* padding-top: 8rem; */
  background-color: rgb(52, 43, 138);
  width: 60vw;
  min-width: 40rem;
  height: 100%;
  box-shadow: 3px 0px 0px rgb(0 0 0 / 1), -3px 0px 0px rgb(0 0 0 / 1);
  z-index: 1;
}

.card {
  overflow-y: auto;
  height: 100%;
  border-radius: 10px;
  border: solid 2px black;
  padding: 2rem;
  background-color: white;
  color: black;
  box-shadow: inset 0px 0px 0px rgb(0 0 0 / 1);
}

#projects-title {
  font-size: 2rem;
  text-align: center;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-preview {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-name {
  font-size: 1.5rem;
}

.project-image {
  width: 2rem;
  height: 2rem;
  border-radius: 10px;
  margin-right: 0.5rem;
}

.project-links {
  font-size: 1rem;
  margin: 0.25rem;
  border: solid 0.2px black;
  border-radius: 10px;
  padding: 1rem;
  transition: background-color 0.25s;
}

.project-links:hover {
  background-color: black;
}

#tab-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.project-tabs {
  display: flex;
  align-items: center;
  border: solid 2px black;
  outline: black;
  background-color: black;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: border-color 0.25s;
}

.project-tabs:hover {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-color: white;
}

.project-tabs-hover-class {
  border-color: white;
}

.project-tabs img {
  width: 1rem;
  height: 1rem;
}

.project-tabs h3 {
  font-size: 1rem;
  margin: 0;
  padding-left: 0.25rem;
}

hr {
  margin-top: 0;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-80vw) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@media (max-width: 550px) {
  #projects-title {
    font-size: 1rem;
  }

  #projects-area {
    padding: 1rem;
    width: 100vw;
    min-width: 0;
  }

  .project-name {
    font-size: 1rem;
  }

  .project-image {
    width: 2rem;
    height: 2rem;
  }

  .project-links {
    font-size: 0.75rem;
    padding: 0.25rem;
  }

  .project-preview {
    width: 100%;
  }

  .card {
    border-radius: 0;
    padding: 2rem;
    background-color: white;
    color: black;
    box-shadow: inset 0px 0px 0px rgb(0 0 0 / 1);
  }

  .project-tabs {
    border: solid 2px black;
    background-color: black;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding: 0.25rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: border-color 0.25s;
  }

  .project-tabs h3 {
    font-size: 0.75rem;
  }

  #tab-list {
  }
}
