#projects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects-area {
  border: solid 2px black;
  padding: 3vw;
  border-radius: 10px;
  background-color: rgb(52, 43, 138);
  max-width: 65%;
  max-height: 70%;
  height: 70%;
  overflow-y: auto;
}

#projects-title {
  font-size: 2.5vw;
  text-align: center;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-preview {
  width: 100%;
}

.project-name {
  font-size: 1.75vw;
}

.project-image {
  width: 6vw;
  height: 6vw;
  border-radius: 10px;
  margin-right: 2vw;
}

.project-links {
  font-size: 1.5vw;
  margin: 1vw;
  border: solid 0.2px white;
  border-radius: 10px;
  padding: 1vw;
  transition: border-color 0.25s;
}

.project-links:hover {
  border-color: black;
}

#tab-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
}

.project-tabs {
  display: flex;
  align-items: center;
  outline: solid 1px white;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: outline-color 0.25s;
}

.project-tabs:hover {
  display: flex;
  align-items: center;
  outline-color: black;
  cursor: pointer;
}

.project-tabs img {
  width: 2vw;
  height: 2vw;
}

.project-tabs h3 {
  font-size: 1.5vw;
  margin: 0;
  padding-left: 0.5rem;
}

hr {
  margin-top: 0;
}

@media (max-width: 550px) {
  #projects-area {
    height: 60%;
    max-height: 60%;
    max-width: 80%;
    position: relative;
    bottom: 3rem;
  }

  #projects-title {
    font-size: 2rem;
  }

  .project-header {
    flex-direction: column;
    align-items: center;
    height: 8rem;
    justify-content: space-around;
  }

  .project-name {
    font-size: 1.5rem;
  }

  .project-image {
    width: 4rem;
    height: 4rem;
  }

  .project-links {
    font-size: 1.2rem;
  }
}
